<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervisor Selection Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Supervisor Selection Assistant</h1>
        <form id="queryForm">
            <label for="query">Enter your interest:</label>
            <input type="text" id="query" name="query" required>
            <button type="submit">Search</button>
        </form>
        <div id="results"></div>
    </div>
    <!-- this scripts should be replaced with nodejs compiled bundle to do in future -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='components/headered-list.js') }}"></script>
    <script src="{{ url_for('static', filename='components/supervisor-card.js') }}"></script>
    <script src="{{ url_for('static', filename='components/supervisors-list.js') }}"></script>
    <script src="{{ url_for('static', filename='components/error-text.js') }}"></script>
    <script src="{{ url_for('static', filename='helpers/component-builder.js') }}"></script>
</body>
</html>